<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Imports</title>

<!-- Start -->
<link rel="stylesheet"
	th:href="@{/assets/bootstrapv5.3/bootstrap.min.css}" />
<link th:href="@{/assets/bootstrapv5.3/bootstrap.icons.css}"
	rel="stylesheet" />
<link th:href="@{/assets/jquery-confirm/jquery-confirm.min.css}"
	rel="stylesheet" />
<link th:href="@{/css/global.css}" rel="stylesheet" />

<script type="text/javascript"
	th:src="@{/assets/jquery/jquery-3.7.0.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/jquery/popper.min.js}"></script>
<script type="text/javascript"
	th:src="@{/assets/bootstrapv5.3/bootstrap.bundle.min.js}"></script>
<script type="text/javascript"
	th:src="@{/assets/jquery-confirm/jquery-confirm.min.js}"></script>



<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
	rel="stylesheet">
<!-- End -->
</head>
<body>

</body>
</html>